@import "../variables";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-divider {
  // take remaining space of parent (vh excl header and deco)
  flex-grow: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
