@import "../variables";

.BulletDisplay, .RocketDisplay {
  display: flex;
  flex-wrap: wrap;
  width: ( $pixel-size + 2 * $pixel-margin ) * 4;
}

.RocketDisplay {
  margin-top: $display-spacer;
}
