$pixel-color-blue: rgb(52, 111, 217);
$pixel-color-orange: rgb(255, 155, 4);
$pixel-color-off: rgb(159, 159, 159);
$pixel-size: 70px;
$pixel-margin: 5px;
$display-spacer: 15px;

$header-height: 6vh;
